<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<!-- 典型的日志pattern -->
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- 演示按时间滚动的策略 -->
	<appender name="defaultlogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/framework.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/framework.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- 保留 30天数据，默认无限-->
			<maxHistory>7</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- 综合时间与大小的滚动策略，先按小时滚动，小时内的文件大于10mb时再按大小滚动 -->
	<appender name="businessLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/business-timer.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/business-timer-%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>20MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder>
			<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- 综合时间与大小的滚动策略，先按小时滚动，小时内的文件大于10mb时再按大小滚动 -->
	<appender name="debugLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/debug-timer.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/debug-timer-%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>20MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder>
			<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- project default level -->
	<logger name="xie" level="INFO">
		<!-- 
		<appender-ref ref="businessLogFile"></appender-ref>
		 -->
	</logger>
	
	<!-- debug log 使用独立的appender，不继承Root的appender -->
	<logger name="xie.animeshotsite.timer.timer.ShotTaskTimer" level="debug" additivity="false">
		<appender-ref ref="debugLogFile" />
	</logger>

	<!-- business log 使用独立的appender，不继承Root的appender -->
	<logger name="business" level="INFO" additivity="false">
		<appender-ref ref="businessLogFile" />
	</logger>
	
	<!-- metrics log 使用独立的appender，不继承Root的appender 
	<logger name="metrics" level="WARN" additivity="false">
		<appender-ref ref="metricsLogFile" />
	</logger>-->

	<!--log4jdbc -->
	<logger name="jdbc.sqltiming" level="INFO" />
	
	<!-- springside modules -->
	<logger name="org.springside.modules" level="WARN" />
	
	<!-- cxf inbound/outbound logger -->
	<logger name="org.apache.cxf.services" level="WARN" />
	<logger name="org.hibernate" level="WARN" />
	<logger name="org.hibernate.engine.internal" level="WARN" />
	<logger name="xie.common.exception.ExceptionHandler" level="WARN" />

	<!-- root -->
	<root level="INFO">
		<appender-ref ref="console" />
		<!-- 
		<appender-ref ref="defaultLogFile" />
		<appender-ref ref="businessLogFile" /> -->
	</root>
</configuration>